/* media query */
@media  (max-width:880px) {
    body {
     background: url(images/background.jpg) ;
     background-blend-mode: multiply;
     background-color: rgba(0, 0, 0, 0.8);
     max-width: auto;
     height: 370px;
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     /* overflow: hidden; */
    }
    #tableError {
        font-size: 16px;
        text-align: center;
    }
}